<script>
import { onMount } from 'svelte'
import { selectedBank } from './stores.js'

import Intro from './Intro.svelte'
import ChoixBanque from './ChoixBanque.svelte'
import ChoixImage from './ChoixImage.svelte'
import ChoixTexte from './ChoixTexte.svelte'
import GenImage from './GenImage.svelte'

import flecheRetour from '../assets/images/fleche-retour.svg'

let screens = [
  Intro,
  ChoixBanque,
  ChoixImage,
  ChoixTexte,
  GenImage,
]
let currentScreen

onMount(() => {
  currentScreen = 0
})
</script>

<main class="h-screen flex flex-col items-center justify-center relative">
  <svelte:component
    this={screens[currentScreen]}
    on:next={() => { scroll({ top: 0}); currentScreen += 1 }}
    on:back={() => { scroll({ top: 0}); currentScreen -= 1 }}
  />
</main>

{#if currentScreen > 0}
  <a href="#" class="absolute top-0 left-0 m-2 back transition-all duration-200" on:click={() => currentScreen -= 1}>
    <img src={flecheRetour} alt="Retour" class="w-8">
  </a>
{/if}

<style>
.back:hover {
  filter: drop-shadow(0 0 2px lightgray)
}
</style>
