<script>
import { onMount, createEventDispatcher } from 'svelte'
import { fade } from 'svelte/transition'

import banques from './banques.js'
import { fonds, randomFonds, selectedBank } from './stores.js'
import { shuffle } from './util.js'

const dispatch = createEventDispatcher()

const isTouchDevice = 'ontouchstart' in document.documentElement

function selectBanque(index) {
  $selectedBank = banques[index]
  dispatch('next')
}

onMount(() => {
  if (!$randomFonds) {
    $randomFonds = shuffle(fonds).slice(0, 4)
    $randomFonds.forEach(fond => {
      const img = new Image()
      img.src = fond
    })
  }
})
</script>

<div
  class="screen"
  in:fade={{ delay: 200 }}
  out:fade
>
  <h1
    class="text-center text-xl sm:text-3xl font-breul font-bold my-2 mx-16 leading-none"
  >
    Quel PDG de grand groupe financier souhaites-tu interpeller ?
  </h1>

  <div
    class="flex flex-wrap justify-center relative mb-20"
    style="max-width: 60rem"
  >
    {#each banques as banque, index}
      <div
        class="flex justify-center items-end text-center p-1 xs:w-1/2 sm:w-auto pdg"
        on:click={() => selectBanque(index)}
      >
        <div class="relative">
          <img
            class="cursor-pointer transition-all duration-200 w-32 sm:w-48"
            src={banque.pdg.photoSmall}
          >

          <p
            class="nom font-breul font-bold absolute bg-white opacity-0 bg-opacity-50 flex justify-center items-center w-full p-1 leading-none transition-all duration-200 transform translate-y-1/2"
            class:nom-forced={isTouchDevice}
            style="bottom: 25%;"
          >
            {banque.pdg.nom}
          </p>

          <div
            class="absolute bottom-0 bg-white bg-opacity-50 flex justify-center items-center w-full p-1"
            style="height: 25%;"
          >
            <img class="max-h-full max-w-full" src={banque.logo}>
          </div>
        </div>

        {#if !isTouchDevice}
        <ul
          class="absolute left-0 list-disc transition-all duration-200 opacity-0 pointer-events-none bg-white w-full p-2 px-8 text-left transform translate-y-1/2 z-10"
        >
          {#each banque.killerFacts as fact}
            <li>
              {@html fact}
            </li>
          {/each}
        </ul>
        {/if}
      </div>
    {/each}
  </div>
</div>

<style>
.pdg:hover > ul, .pdg > ul:hover {
  @apply pointer-events-auto translate-y-full;
  @apply opacity-100 bg-opacity-75;
}

.pdg:hover .nom, .nom-forced {
    @apply translate-y-0 opacity-100;
}
</style>
