<script>
import { createEventDispatcher } from 'svelte'
import { fade } from 'svelte/transition'

import { selectedText } from './stores.js'
import { shuffle } from './util.js'

const dispatch = createEventDispatcher()

const textes = [
  'Quel jour d’après ? Pour moi, c’est business as usual.',
  'Ma petite entreprise fossile ne connaît pas la crise.',
  'Le secret de mon profit ? Les entreprises qui co-vident les puits de pétrole !',
  'Je suis prêt à tout confiner, sauf les énergies fossiles dans le sol.',
  'Pour sauver les industries polluantes, je ne prends pas de gants !',
  'Le climat, moi, je m’en lave les mains.',
]

function selectText(text) {
  $selectedText = text
  dispatch('next')
}
</script>


<section
  class="screen max-w-screen-md items-center"
  in:fade={{ delay: 200 }}
  out:fade
>
  <h1 class="text-center text-xl sm:text-3xl font-breul font-bold my-2 mx-16 leading-none">
    Selon toi, quel message correspond le plus à la vision de ce PDG ?
  </h1>

  <div>
    {#each shuffle(textes).slice(0, 4) as texte, index}
      <p
        class="border rounded-md p-4 m-4 shadow hover:shadow-md transition-all duration-200 cursor-pointer flex items-center justify-center text-center"
        on:click={() => selectText(texte)}
      >
        { texte }
      </p>
    {/each}
  </div>
</section>
