<script>
import { createEventDispatcher } from 'svelte'
import { fade } from 'svelte/transition'

import { randomFonds, selectedImage } from './stores.js'
import { shuffle } from './util.js'

const dispatch = createEventDispatcher()

function selectImage(image) {
  $selectedImage = image
  dispatch('next')
}
</script>


<div
  class="screen items-center"
  in:fade={{ delay: 200 }}
  out:fade
>
  <h1 class="text-center text-xl sm:text-3xl font-breul font-bold my-2 mx-16 leading-none">
    Quelle illustration de l’urgence climatique souhaites-tu utiliser ?
  </h1>

  <div class="flex flex-wrap items-center justify-center max-w-3xl p-2">
    {#each $randomFonds as image, index}
      <img
        class="p-2 cursor-pointer transition-all duration-200 w-full sm:w-1/2"
        src={image}
        on:click={() => selectImage(image)}
      >
    {/each}
  </div>
</div>

<style>
img:hover {
  filter: drop-shadow(0 0 4px gray);
}
</style>
