<script>
import { onMount } from 'svelte'
import { fade } from 'svelte/transition'

import facebook from '../assets/images/facebook.png'
import twitter from '../assets/images/twitter.png'
import instagram from '../assets/images/instagram.png'

import { selectedBank, selectedImage, selectedText } from './stores.js'

const tweets = $selectedBank.tweets

let canvas

const cw = 1024,
      ch = 576

const imgFond = new Image()
imgFond.src = $selectedImage

const imgPdg = new Image()
imgPdg.onload = draw
imgPdg.src = $selectedBank.pdg.photo


let tweetText = tweets[~~(Math.random() * tweets.length)]
$: tweetUrl = `https://twitter.com/compose/tweet?text=${encodeURIComponent(tweetText.trim())}`


const hashFont = 'bold 64px "source code pro"'

let textCanvas = document.createElement('canvas')
textCanvas.width = cw
textCanvas.height = 300
const textCtx = textCanvas.getContext('2d')
textCtx.fillStyle = '#f6e901'
textCtx.shadowColor = 'black'
textCtx.shadowBlur = 2
textCtx.shadowOffsetY = 1
textCtx.textBaseline = 'top'
let fontsize = 48
textCtx.font = `bold ${fontsize}px breul`
textCtx.shadowBlur = 1.5

const textMaxWidth = 520


textCtx.clearRect(0, 0, textCanvas.width, textCanvas.height)
const lines = $selectedText
  .split(' ')
  .reduce((lines, word) => {
    const currentLine = lines[lines.length - 1]
    const newLine = (currentLine + ' ' + word).trim()
    const newWidth = textCtx.measureText(currentLine + ' ' + word).width
    if (newWidth > textMaxWidth) {
      return [...lines, word]
    } else {
      return [...lines.slice(0, lines.length - 1), newLine]
    }

  }, [''])

lines.forEach((line, index) => {
  textCtx.fillText(line, 0, fontsize * index)
})

let hashtagCanvas = document.createElement('canvas')
hashtagCanvas.width = cw
hashtagCanvas.height = 300
const hashCtx = textCanvas.getContext('2d')


function draw() {
  if (!canvas) { return }
  const ctx = canvas.getContext('2d');

  // fond
  ctx.drawImage(imgFond, 0, 0, cw, ch);

  ctx.drawImage(imgPdg, 0, 64);

  // texte
  ctx.drawImage(textCanvas, cw - textMaxWidth - 10, 120);

  ctx.fillStyle = 'white'
  ctx.textBaseline = 'top'
  ctx.font = hashFont
  ctx.shadowColor = 'black'
  ctx.shadowBlur = 2
  ctx.shadowOffsetY = 2
  const hashtag = '#VosParisNotreAvenir'
  const hashtagWidth = ctx.measureText(hashtag).width
  ctx.fillText(hashtag, (cw - hashtagWidth) / 2, 10)
}

function dlCanvas() {
  const a = document.createElement('a')
  canvas.toBlob(data => {
    a.href = URL.createObjectURL(data)
    a.download = 'banque.png'
    a.click()
  })
}

function copyText(event) {
  const tweetArea = event.target.previousElementSibling
  tweetText = tweetArea.value
  tweetArea.select()
  tweetArea.setSelectionRange(0, 600)
  document.execCommand('copy')
}

</script>

<div
  class="screen"
  in:fade={{ delay: 200 }}
  out:fade
>
  <h1 class="text-center text-xl sm:text-3xl font-breul font-bold my-2 mx-16 leading-none">
    Voilà ton visuel !
  </h1>

  <div
    class="flex flex-col items-center w-full p-4"
  >
    <p class="max-w-2xl text-center">
      Télécharge-le et diffuse-le sur les réseaux sociaux afin d’appeler à la
      fin des soutiens financiers aux énergies du passé.
    </p>

    <canvas
      class="max-w-full border"
      style="max-height: 50vh;"
      width={cw}
      height={ch}
      bind:this={canvas}
    />

    <section>
      <a
        href="#"
        class="block bg-orange-600 text-white text-lg uppercase hover:bg-orange-500 mx-auto my-2 p-2 px-4 shadow hover:shadow-md border cursor-pointer transition-all duration-200 font-source-code-pro font-bold"
        download="banque.png"
        on:click={dlCanvas}
      >
        Télécharger l’image
      </a>

      <br>
    </section>

    <p>
      Tu peux t’inspirer de ces exemples pour publier sur les réseaux sociaux !
      <br>
      Et n’oublie pas d’<strong>ajouter l’image</strong> que tu viens de
      télécharger ;)
    </p>

    <section class="w-full max-w-2xl flex flex-col items-center">
      {#each tweets as tweet, index}
        <div class="flex w-full space-x-2 items-center">
          <textarea
            bind:value={tweet}
            chars="100"
            rows="5"
            class="flex-grow border p-2 my-2"
          />

          <button
            class="cursor-pointer border my-2 p-2 shadow hover:shadow-md rounded-md transition duration-200"
            on:click={copyText}
          >
            Copier
          </button>
        </div>
      {/each}
    </section>

    <section class="w-full max-w-3xl flex justify-center items-center space-x-4">
      <a
        class="cursor-pointer block p-2"
        target="_blank"
        rel="noopener noreferrer"
        href={tweetUrl}
      >
        <img class="w-12 transition-all duration-200 social" src={twitter}>
      </a>

      <a
        class="cursor-pointer block p-2"
        target="_blank"
        rel="noopener noreferrer"
        href="https://facebook.com"
      >
        <img class="w-12 transition-all duration-200 social" src={facebook}>
      </a>

      <a
        class="cursor-pointer block p-2"
        target="_blank"
        rel="noopener noreferrer"
        href="https://instagram.com"
      >
        <img class="w-12 transition-all duration-200 social" src={instagram}>
      </a>
    </section>

    <p>
      Tu peux également relayer
      <a
        class="text-blue-600 cursor-pointer"
        rel="noreferrer,noopener"
        target="_blank"
        href="https://twitter.com/amisdelaterre/status/1260451983342927873"
      >
        ce tweet
      </a> !
    </p>
  </div>
</div>

<style>
.social:hover {
  @apply cursor-pointer;
  filter: drop-shadow(0 0 1px gray);
}
</style>
