/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss stop ignore */

@tailwind utilities;

@import '../assets/fonts/BreulGroteskA-Black.ttf';
@import '../assets/fonts/BreulGroteskA-Black.woff';
@import '../assets/fonts/BreulGroteskA-Light.ttf';
@import '../assets/fonts/BreulGroteskA-Light.woff';
@import '../assets/fonts/GemeliWeb-Bold.woff';
@import '../assets/fonts/GemeliWeb-Regular.woff';

@font-face {
    font-family: "breul";
    src: url("../assets/fonts/BreulGroteskA-Light.ttf") format("truetype"), url("../assets/fonts/BreulGroteskA-Light.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "breul";
    src: url("../assets/fonts/BreulGroteskA-Black.ttf") format("truetype"), url("../assets/fonts/BreulGroteskA-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "gemeli";
    src: url("../assets/fonts/GemeliWeb-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "gemeli";
    src: url("../assets/fonts/GemeliWeb-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "source code pro";
    src: url("../assets/fonts/SourceCodePro-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

:root {
    @apply bg-white font-gemeli;
    scroll-behavior: smooth;
}

.screen {
  @apply absolute top-0 min-h-screen flex flex-col justify-center;
}
