<script>
import { onMount, createEventDispatcher } from 'svelte'
import { fade } from 'svelte/transition'
import banques from './banques.js'

const dispatch = createEventDispatcher()

onMount(() => {
  banques.forEach(banque => {
    const img = new Image()
    img.src = banque.pdg.photoSmall
  })
})
</script>

<section
  class="screen max-w-screen-md text-center px-2"
  in:fade={{ delay: 200 }}
  out:fade
>
  <h1 class="text-2xl sm:text-4xl uppercase leading-none font-bold m-4 font-breul">
    Finance :<br>
    Vos paris… Notre avenir !
  </h1>

  <div>
    <p class="mb-2">
      Plus que jamais, nous devons imaginer le monde d’après, mais la finance
      est bien décidée à maintenir son <i>business as usual</i>. Malgré des
      tentatives de <i>green</i> et <i>social washing</i>, elle n’a pas
      renoncé à mener nos sociétés droit au chaos climatique.
    </p>

    <p>
      Les acteurs de la finance se réunissent pour leurs assemblées générales. À
      huis clos cette année, leurs PDG n’ont jamais semblé aussi déconnectés.
    </p>

    <p class="my-6 font-bold">
      Interpelle les PDG de la finance en total décalage avec l'urgence
      climatique : pour cela, crée ton visuel à partager sur les réseaux
      sociaux.
    </p>

    <p>
      Tournons définitivement la page de l’ancien monde !
    </p>

    <div class="flex justify-center space-x-4">
      <a
        class="text-blue-600"
        target="_blank"
        rel="noreferrer,noopener"
        href="https://twitter.com/hashtag/VosParisNotreAvenir"
      >
        #VosParisNotreAvenir
      </a>

      <a
        class="text-blue-600"
        target="_blank"
        rel="noreferrer,noopener"
        href="https://twitter.com/hashtag/PourLeJourDAprès"
      >
        #PourLeJourdAprès
      </a>
    </div>
  </div>

  <button
    class="bg-orange-600 hover:bg-orange-500 shadow hover:shadow-md transition-all duration-200 text-2xl text-white font-source-code-pro font-bold cursor-pointer uppercase leading-none p-4 my-8 mx-auto"
    on:click={() => dispatch('next')}
  >
    Je participe
  </button>
</section>
